.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 calc(186px + (350 - 186) * ((100vw - 1024px) / (1920 - 1024)));

  @include vp-1023 {
    padding: 0 50px;
  }

  @include vp-767 {
    padding: 0 25px;
  }
}
